:root {
	--random-icon: url('../img/icons.png?v=0') no-repeat;
	--public-font: 'inherit', 'PingFang SC', 'PingHei', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
	--public-font-consolas: 'Consolas', 'inherit', 'PingFang SC', 'PingHei', 'Helvetica Neue', 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', 'sans-serif';
	--default: url('../img/default.png'), default;
	--pointer: url('../img/link.png'), pointer;
	--text: url('../img/input.png'), text;
}

/* 全局样式 */
html {
	height: 100%;
	cursor: var(--default);
}

a[href], button {
	cursor: var(--pointer);
}

input, textarea {
	cursor: var(--text);
	resize: none;
	outline: none;
	display: block;
	font-family: var(--public-font);
}

body, div, span, iframe, p, pre, a, code, img, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	background: transparent;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
	outline: 0;
	background: transparent;
	vertical-align: baseline;
}

body {
	display: flex;
	overflow-y: scroll;
	font-family: var(--public-font);
	justify-content: center;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

a[href] {
	color: #A67D7B;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

button {
	outline: none;
	box-sizing: content-box;
}

img {
	display: block;
	pointer-events: none;
}

audio,
video {
	outline: none;
}

audio {
	height: 40px;
	border: 1px solid #DDD;
	background: #F1F3F4;
	box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background: #CFD2E0;
}

::-webkit-scrollbar-corner {
	background: #CFD2E0;
}

::-webkit-scrollbar-thumb {
	background: #525870;
}

::selection {
	color: #FFF;
	background: #525870;
}

::-moz-selection {
	color: #FFF;
	background: #525870;
}
	
pre::selection,
pre ::selection,
code::selection,
code ::selection {
	background: #525870 !important;
}

/* 字体相关 */
.red {
	color: #FF3030 !important;
}

.pink {
	color: #FF7A9B !important;
}

.black {
	color: #000 !important;
}

.blue {
	color: blue !important;
}

.green {
	color: green !important;
}

.orange {
	color: #F3A557 !important;
}

.gray {
	color: #666 !important;
}

.light-gray {
	color: #999 !important;
}

.yellow {
	color: #8F7B55 !important;
}

.purple {
	color: purple !important;
}

.lightBlue {
	color: #5656FF !important;
}

.bold {
	font-weight: bold !important;
}

.italic {
	font-style: italic !important;
}

.delete {
	text-decoration: line-through !important;
}

.underline {
	text-decoration: underline !important;
}

.no-indent {
	text-indent: 0 !important;
	padding-left: 6px;
}

.indent4 {
	padding-left: calc(6px + 2em) !important;
}

.indent6 {
	padding-left: calc(6px + 4em) !important;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
	justify-content: center;
}

/* 可选类 */
.icon {
	background: var(--random-icon);
}

.flex {
	display: flex;
}

.sticky {
	top: 0;
	position: sticky;
}

.break-all {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

.none-style {
	list-style: none;
}

.inline-block {
	display: inline-block;
}

.v-top {
	vertical-align: top;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}